include _mixins.pug
- var iconSize = 32
doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title Erik Spitzer
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="My portfolio! Information about me and some of my projects.")
        link(rel='stylesheet' type='text/css' href='styles/global.min.css')
    body
        nav 
            ul
                +navItem('Home','index')
                +navItem('Everquest','everquest')
                +navItem('D&D','dungeons-and-dragons')
                +navItem('Mount and Blade','mount-and-blade')
        main
            block content
            footer
                p Feeling social?
                a.social-link(href="https://www.linkedin.com/in/erikspitzer/" target="_blank" aria-label="LinkedIn Profile")
                    img(src="img/linkedin.svg" alt="LinkedIn" width=iconSize height=iconSize)
                a.social-link(href="https://twitter.com/Renmauzuo" target="_blank" aria-label="Twitter Profile")
                    img(src="img/twitter.svg" alt="Twitter" width=iconSize height=iconSize)
                a.social-link(href="https://www.instagram.com/erik.r.spitzer/" target="_blank" aria-label="Instagram Profile")
                    img(src="img/instagram.svg" alt="Instagram" width=iconSize height=iconSize)
                a.social-link(href="https://www.patreon.com/erikspitzer" target="_blank" aria-label="Patreon Profile")
                    img(src="img/patreon.svg" alt="Patreon" width=iconSize height=iconSize)
                    
